@import './common';
@import './example';

body {
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  min-height: 6rem;
  background-color: rgb(194, 255, 235);
  display: flex;
  justify-content: center;

  position: sticky;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.submit-btn {
  height: 2.5rem;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;

  background-color: rgb(128, 215, 186);
  border: 1px solid rgb(104, 189, 161);
  box-shadow: rgb(66, 117, 100);
}

[name='searchQuery'] {
  display: inline-block;
  height: 2.5rem;

  padding: 0.4rem 0.75rem;
  background-color: #fff;
  border: 1px solid rgb(104, 189, 161);
}

// -------- Gallery-------


main{
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 60px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  justify-content: center;
}



.photo-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 300px;
  // max-height: 280px;


}

.photo-card > img{
  object-fit: contain;
  max-width: 300px;

  height: inherit;
}

// .gallery > div {
//   background-color: rgba(255, 255, 255, 0.8);
//   text-align: center;
//   padding: 1rem 0;
//   font-size: 1rem;
// }

.load-more {
  display: block;
  visibility: hidden;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  padding: 0.4rem 0.75rem;

  background-color: #fff;
  border: 1px solid rgb(104, 189, 161);
}

.info{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}